<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
			point="org.eclipse.core.resources.natures"
			id="plugin.hardcoded.ample.core.amplenature"
			name="Ample">
		<runtime>
     <run
           class="plugin.hardcoded.ample.core.AmpleProject">
     </run>
  </runtime>
  <builder
        id="plugin.hardcoded.ample.core.amplebuilder">
  </builder>
	</extension>
	
	<extension
	       point="org.eclipse.ui.ide.projectNatureImages">
	    <image
	          icon="icons/ovr16/projectdecal.png"
	          id="plugin.hardcoded.ample.core.amplenature.icon"
	          natureId="plugin.hardcoded.ample.core.amplenature">
	    </image>
	</extension>
 <extension
       id="plugin.hardcoded.ample.core.amplebuilder"
       name="Ample Builder"
       point="org.eclipse.core.resources.builders">
    <builder
          hasNature="true">
       <run
             class="plugin.hardcoded.ample.builders.AmpleBuilder">
       </run></builder>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="plugin.hardcoded.ample.initializers.AmplePreferenceInitializer">
    </initializer>
    <initializer
          class="plugin.hardcoded.ample.initializers.LirPreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="plugin.hardcoded.ample.preferences.AmplePreferencePage"
          id="plugin.hardcoded.ample.core.ampleprefs"
          name="Ample">
    </page>
    <page
          category="plugin.hardcoded.ample.core.ampleprefs"
          class="plugin.hardcoded.ample.preferences.LirPreferencePage"
          id="plugin.hardcoded.ample.core.lirprefs"
          name="LIR">
    </page>
    <page
          category="plugin.hardcoded.ample.core.ampleprefs"
          class="plugin.hardcoded.ample.preferences.EmptyPreferencePage"
          id="plugin.hardcoded.ample.core.ampleprefs.editor"
          name="Editor">
    </page>
    <page
          category="plugin.hardcoded.ample.core.ampleprefs.editor"
          class="plugin.hardcoded.ample.preferences.AmpleColorPreferencePage"
          id="plugin.hardcoded.ample.core.ampleprefs.coloring"
          name="Syntax Coloring">
    </page>
    <page
          category="plugin.hardcoded.ample.core.lirprefs"
          class="plugin.hardcoded.ample.preferences.EmptyPreferencePage"
          id="plugin.hardcoded.ample.core.lirprefs.editor"
          name="Editor">
    </page>
    <page
          category="plugin.hardcoded.ample.core.lirprefs.editor"
          class="plugin.hardcoded.ample.preferences.LirColorPreferencePage"
          id="plugin.hardcoded.ample.core.lirprefs.coloring"
          name="Syntax Coloring">
    </page>
 </extension>
	<extension point="org.eclipse.ui.editors">
		<editor
				name="Ample Syntax Editor"
				extensions="ample"
				icon="icons/obj16/sourcefile.png"
				id="ample_editor"
				class="plugin.hardcoded.ample.views.AmpleSyntaxEditor">
		</editor>
  <editor
        class="plugin.hardcoded.ample.lir.LIREditorViewer"
        default="true"
        extensions="lir, llir"
        icon="icons/obj16/lirfile.png"
        id="ample_llir_editor"
        name="Low Level IR">
  </editor>
	</extension>
	
	<extension point="org.eclipse.help.contexts">
		<contexts
				file="contexts.xml">
		</contexts>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
    <category
          id="plugin.hardcoded.ample.wizard"
          name="Ample">
    </category>
		<wizard
        category="plugin.hardcoded.ample.wizard"
        class="plugin.hardcoded.ample.wizard.AmplePluginWizard"
        icon="icons/elcl16/add_project.png"
        id="ample_wizard"
        name="Ample Project"
        project="true">
		</wizard>
  <wizard
        category="plugin.hardcoded.ample.wizard"
        class="plugin.hardcoded.ample.wizardstest.AmpleNewFileWizard"
        icon="icons/elcl16/add_amplefile.png"
        id="ample_new_file_wizard"
        name="Ample File">
  </wizard>
	</extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.ui.resourcePerspective">
       <newWizardShortcut
             id="ample_new_file_wizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <file-association
          content-type="org.eclipse.core.runtime.xml"
          file-names=".aproj">
    </file-association>
    <content-type
          file-extensions="hlir"
          id="plugin.hardcoded.ample.core.content.hlir"
          name="High Level IR"
          priority="normal">
    </content-type>
    <file-association
          content-type="plugin.hardcoded.ample.core.content.hlir"
          file-extensions="hlir">
    </file-association>
    <content-type
          file-extensions="llir, lir"
          id="plugin.hardcoded.ample.core.content.llir"
          name="Low Level IR"
          priority="high">
    </content-type>
    <file-association
          content-type="plugin.hardcoded.ample.core.content.llir"
          file-extensions="llir, lir">
    </file-association>
 </extension>
 <extension
       point="org.eclipse.team.core.fileTypes">
    <fileTypes
          extension="hlir"
          type="binary">
    </fileTypes>
    <fileTypes
          extension="llir"
          type="binary">
    </fileTypes>
    <fileTypes
          extension="lir"
          type="binary">
    </fileTypes>
 </extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
				description="Convert a project into a Ample Project"
				id="plugin.hardcoded.ample.core.amplenature.command.convert"
				name="Convert to Ample Project">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		<handler
				class="plugin.hardcoded.ample.core.AmpleProjectNatureHandler"
				commandId="plugin.hardcoded.ample.core.amplenature.command.convert">
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution
				allPopups="false"
				locationURI="popup:org.eclipse.ui.projectConfigure">
			<command
					commandId="plugin.hardcoded.ample.core.amplenature.command.convert"
					style="push">
				<visibleWhen>
					<with variable="selection">
						<iterate ifEmpty="true" operator="and">
							<adapt type="org.eclipse.core.resources.IResource">
								<not>
									<or>
										<test
												property="org.eclipse.core.resources.projectNature"
												value="plugin.hardcoded.ample.core.amplenature" />
										
										<test
												property="org.eclipse.core.resources.projectNature"
												value="org.eclipse.jdt.core.javanature" />
									</or>
								</not>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			
		</menuContribution>
	</extension>
	
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
				delegate="plugin.hardcoded.ample.launcher.AmpleLaunchConfiguration"
				id="plugin.hardcoded.ample.launcher"
				modes="run, debug"
				name="Ample Application"
				public="true">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
				class="plugin.hardcoded.ample.launcher.AmpleLaunchShortcut"
				description="Do stuff"
				icon="icons/ample_projectbuild.png"
				id="plugin.hardcoded.ample.launcher.shortcut"
				label="Ample Launch"
				modes="run, debug">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<iterate operator="or">
							<adapt type="org.eclipse.core.resources.IResource">
									<test
											property="org.eclipse.core.resources.projectNature"
											value="plugin.hardcoded.ample.core.amplenature" />
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
				class="plugin.hardcoded.ample.launcher.AmpleLaunchTabGroup"
				id="plugin.hardcoded.ample.launcher.tabgroup"
				type="plugin.hardcoded.ample.launcher">
		</launchConfigurationTabGroup>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
				configTypeID="plugin.hardcoded.ample.launcher"
				icon="icons/ample_projectbuild.png"
				id="plugin.hardcoded.ample.launcher.typeimage">
		</launchConfigurationTypeImage>
	</extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="plugin.hardcoded.ample.core.AmplePropertyPage"
          id="plugin.hardcoded.ample.property.page"
          name="Ample Project">
       <enabledWhen>
       		<adapt type="org.eclipse.core.resources.IProject">
				<test
					property="org.eclipse.core.resources.projectNature"
					value="plugin.hardcoded.ample.core.amplenature" />
			</adapt>
       </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="plugin.hardcoded.ample.decorator.AmpleIconDecorator"
          id="plugin.hardcoded.ample.decorator.icons"
          label="Ample Icon Decorator"
          lightweight="true"
          state="true">
    </decorator>
 </extension>
 <!--
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="plugin.hardcoded.ample.core.items.IAmpleElement"
          class="plugin.hardcoded.ample.adapters.AmpleElementAdapterFactory">
       <adapter
             type="org.eclipse.core.resources.IResource">
       </adapter>
       <adapter
             type="org.eclipse.ui.IContributorResourceAdapter">
       </adapter>
       <adapter
             type="org.eclipse.ui.ide.IContributorResourceAdapter2">
       </adapter>
    </factory>
    <factory
          adaptableType="plugin.hardcoded.ample.core.items.IAmpleProject"
          class="plugin.hardcoded.ample.adapters.AmpleProjectAdapterFactory">
       <adapter
             type="org.eclipse.core.resources.IProject">
       </adapter>
    </factory>
    <factory
          adaptableType="org.eclipse.core.resources.IResource"
          class="plugin.hardcoded.ample.adapters.ResourceAdapterFactory">
       <adapter
             type="plugin.hardcoded.ample.core.items.IAmpleElement">
       </adapter>
    </factory>
 </extension>
 -->
 
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="plugin.hardcoded.ample.decorator.AmpleNavigatorContentProvider"
          icon="icons/eview16/ample_elements.png"
          id="plugin.hardcoded.ample.ampleContent"
          labelProvider="plugin.hardcoded.ample.decorator.AmpleNavigatorLabelProvider"
          name="Ample Elements"
          priority="normal">
       <triggerPoints>
         <or>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="plugin.hardcoded.ample.core.amplenature">
               </test>
            </adapt>
            <instanceof
                  value="plugin.hardcoded.ample.core.items.IAmpleElement">
            </instanceof>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </or>
       </triggerPoints>
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
    </navigatorContent>
    <commonFilter
          activeByDefault="true"
          class="plugin.hardcoded.ample.filters.HideBinaryFoldersFilter"
          description="Hide ample output folders"
          id="plugin.hardcoded.ample.filters.hideOutputFolder"
          name="Ample output folders">
    </commonFilter>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       <includes>
          <contentExtension
                pattern="plugin.hardcoded.ample.ampleContent">
          </contentExtension>
          <contentExtension
                pattern="plugin.hardcoded.ample.filters.*">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="plugin.hardcoded.ample.command.addSourceFolder"
          name="Add source folder">
    </command>
    <command
          id="plugin.hardcoded.ample.command.removeSourceFolder"
          name="Remove source folder">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="plugin.hardcoded.ample.handlers.AmpleHandlers$AddSourceFolder"
          commandId="plugin.hardcoded.ample.command.addSourceFolder">
    </handler>
    <handler
          class="plugin.hardcoded.ample.handlers.AmpleHandlers$RemoveSourceFolder"
          commandId="plugin.hardcoded.ample.command.removeSourceFolder">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.eclipse.ui.popup.any?after=export">
       <separator
             name="ample_separator"
             visible="true">
       </separator>
       <menu
             label="Build Configuration"
             tooltip="Build Configuration">
          <command
                commandId="plugin.hardcoded.ample.command.addSourceFolder"
                disabledIcon="icons/dlcl16/add_sourcefolder.png"
                icon="icons/elcl16/add_sourcefolder.png"
                label="Add source folder"
                style="push"
                tooltip="Add a source folder">
          </command>
          <command
                commandId="plugin.hardcoded.ample.command.removeSourceFolder"
                disabledIcon="icons/dlcl16/remove_sourcefolder.png"
                icon="icons/elcl16/remove_sourcefolder.png"
                label="Remove source folder"
                style="push"
                tooltip="Remove a source folder">
          </command>
       </menu>
    </menuContribution>
 </extension>

 
</plugin>
